---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="faq">
  <div class="mt-[140px]">
    <SectionTitle
      sectionTitle="Frequently Asked Questions"
      description="Have a question in mind? We have compiled answers to the most common queries here."
    />
    <Accordion />
  </div>
</Section>
